@model AplicaciónWebValper.Controllers.HomeController.Conexion

@{
    ViewData["Title"] = "Conexiones";
}

<h1>Conexiones</h1>

@using (Html.BeginForm())
{

    <div>
        @Html.LabelFor(Model => Model.idConexion)
        @Html.EditorFor(Model => Model.idConexion)
    </div>

    <div>
        @Html.LabelFor(Model => Model.Descripcion)
        @Html.EditorFor(Model => Model.Descripcion)
    </div>

    <div>
        @Html.LabelFor(Model => Model.Conector)
        @Html.EditorFor(Model => Model.Conector)
    </div>

    <input type="submit" value="enviar" />

}