@model ValperAppWeb.Controllers.HomeController.Funcion

@{
    ViewData["Title"] = "Funciones";
}

<h1>Funciones</h1>

<form form method="POST" action="http://192.168.1.33:40089/api/Funciones">
    <input type="hidden" name="idFuncion" value="@Guid.NewGuid().ToString()">
    <input placeholder="Descripción" title="Descripción" name="Descripcion">
    <button type="submit">Enviar</button>
</form>

@*@using (Html.BeginForm())
{

<div>
    @Html.LabelFor(Model => Model.idFuncion)
    @Html.EditorFor(Model => Model.idFuncion)   
</div>

<div>
    @Html.LabelFor(Model => Model.Descripcion)
    @Html.EditorFor(Model => Model.Descripcion)
</div>

<input type="submit" value="enviar"/>

}*@
