@model ValperAppWeb.Controllers.HomeController.Parametro

@{
    ViewData["Title"] = "Parametros";
}

<h1>Parametros</h1>

<form form method="POST" action="http://192.168.1.33:40089/api/Parametros">
    <input type="hidden" name="idParametro" value="@Guid.NewGuid().ToString()">
    <input placeholder="Descripción" title="Descripción" name="Descripcion">
    <input placeholder="Orden" title="Orden" name="Orden">
    <input placeholder="idTipo" title="idTipo" name="idTipo">
    <input placeholder="idFuncion" title="idFuncion" name="idFuncion">
    <button type="submit">Enviar</button>
</form>

@*@using (Html.BeginForm())
{

    <div>
        @Html.LabelFor(Model => Model.idParametro)
        @Html.EditorFor(Model => Model.idParametro)
    </div>

    <div>
        @Html.LabelFor(Model => Model.Descripcion)
        @Html.EditorFor(Model => Model.Descripcion)
    </div>

    <div>
        @Html.LabelFor(Model => Model.Orden)
        @Html.EditorFor(Model => Model.Orden)
    </div>

    <div>
        @Html.LabelFor(Model => Model.idTipo)
        @Html.EditorFor(Model => Model.idTipo)
    </div>

    <div>
        @Html.LabelFor(Model => Model.idFuncion)
        @Html.EditorFor(Model => Model.idFuncion)
    </div>

    <input type="submit" value="enviar" />

}*@