@model ValperAppWeb.Controllers.HomeController.Usuario

@{
    ViewData["Title"] = "Usuarios";
}

<h1>Usuarios</h1>

<form form method="POST" action="http://192.168.1.33:40089/api/Usuarios">
    <input type="hidden" name="idUsuario" value="@Guid.NewGuid().ToString()">
    <input placeholder="Nombre" title="Nombre" name="Nombre">
    <button type="submit">Enviar</button>
</form>

@*@using (Html.BeginForm())
{

    <div>
        @Html.LabelFor(Model => Model.idUsuario)
        @Html.EditorFor(Model => Model.idUsuario)
    </div>

    <div>
        @Html.LabelFor(Model => Model.Nombre)
        @Html.EditorFor(Model => Model.Nombre)
    </div>

    <input type="submit" value="enviar" />

}*@
